<div data-ng-controller="MeController">
<div class="container body">
  <div class="left-panel">
    <div class="profile">
      <div class="header">
        <div class="name"> {{ profile.name }}</div>
        <div class="screen-name">@{{ profile.screenName }}</div>
      </div>
      <!-- /.header -->
      <div class="detail last-section">
        <div class="col">
          <div class="text">Tweets</div>
          <div class="number">{{ profile.tweetCount }}</div>
        </div>
        <div class="col">
          <div class="text">Followers</div>
          <div class="number">{{ profile.followerCount }}</div>
        </div>
        <div class="col">
          <div class="text">Following</div>
          <div class="number">{{ profile.followingCount }}</div>
        </div>
      </div>
      <!-- /.detail -->
    </div>
    <!-- /.border-box .profile -->
  </div>

  <div class="main-panel">
    <div class="tweet-list">
      <div data-ng-repeat="tweet in tweets", data-ng-class="{'first-item' : $first}">
        <div class="tweet">
          <div class="name">
            {{ tweet.name}}
          </div>
          <div class="screen-name">
              @{{ tweet.screenName}}
          </div>
          <div class="tweet-text">
            {{tweet.tweetText}}
          </div>
          <div class="action">
            <div class="reply"><i class="fa fa-reply"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <div class="tweet-list">
      <div class="tweet first-item">

      </div>
      <div class="tweet">
        <div class="name">
          Arnupharp Viratanapanu
        </div>
        <div class="screen-name">
          @topscores
        </div>
        <div class="tweet-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id sollicitudin urna. Aenean vitae dapibus quam. Suspendisse volutpat.
        </div>
        <div class="action">
          <div class="reply" data-toggle="modal" data-target="#replyModal"><i class="fa fa-reply"></i></div>
        </div>
      </div>
      <div class="tweet">
        <div class="retweeted">
          Arnupharp Viratanapanu retweeted
        </div>
        <a href="user.html">
          <div class="name">
            Supasate Choochaisri
          </div>
          <div class="screen-name">
            @kaizerwing
          </div>
        </a>
        <div class="tweet-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id sollicitudin urna. Aenean vitae dapibus quam. Suspendisse volutpat.
        </div>
        <div class="action">
          <div class="reply" data-toggle="modal" data-target="#replyModal"><i class="fa fa-reply"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
